<!DOCTYPE html>
<html>
  <head>
    <title>Angular ToDo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="ToDoApp">
    {{title}}
    <section ng-controller="ToDoCtrl">

      <h1>{{title}}</h1>

      <div>
      	<label for="potato">Potato</label>
        <input type="text" ng-model="potato">
        <div>{{potato}}</div>

       <!--  <label for="filter2">Filter 2</label>
        <input id="filter2" type="text" ng-model="filter2">

        <input type="checkbox" ng-model="variableName">
        <div>{{variableName}}</div> -->

        <div>
        	<input type="text" ng-model="newToDo">
        	<button class="btn-default" ng-click="addToDo()">New To Do</button>
        </div>

        <div>
          <ul ng-repeat="var_name in tasks | filter: potato | filter: filter2">
            <li>{{var_name.name}} | {{var_name.type}} <button ng-click="removeToDo(var_name)">Delete</button></li>
          </ul>
        </div>
      </div>

    </section>
    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- our scripts -->
    <script src="app/app.js"></script>
    <script src="app/controllers/todo.js"></script>
  </body>
</html>